@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-6">Witaj w Wirtualnym Dziekanacie</h1>
    <p>Aktualnie każdy ma tutaj dostęp ale w krótce się to zmieni.</p>
</div>
